header {
  width: 100%;
  height: 50vh;
  background-color: #15172f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
header h1 {
  font-size: 4em;
  font-family: 'Noto Sans', sans-serif;
  color: #ffffff;
  text-align: center;
  width: 80%;
  margin-bottom: 10px;
}
header p {
  font-size: 1.5em;
  font-family: 'Noto Sans', sans-serif;
  color: #d8d8d8;
  text-align: center;
  width: 80%;
  margin-bottom: 40px;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 15%;
}
section #links {
  border-collapse: collapse;
  width: 100%;
}
section #links td,
section #links #customers th {
  border: 1px solid #ddd;
  padding: 40px;
  font-size: 1.5rem;
}
section #links td a,
section #links #customers th a {
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  color: #5258fb;
}
section #links tr:nth-child(even) {
  background-color: #f2f2f2;
}
section #links tr:hover {
  background-color: #ddd;
}
section #links th {
  font-family: 'Noto Sans', sans-serif;
  border: 1px solid #15172f;
  padding: 20px 40px;
  text-align: left;
  font-size: 2rem;
  background-color: #5258fb;
  color: #ffffff;
}
@media screen and (min-width: 2000px) {
  header h1 {
    font-size: 6em;
  }
  header p {
    font-size: 2em;
  }
}
@media screen and (max-width: 1440px) {
  section {
    padding: 0px 0%;
  }
  section #links td,
  section #links #customers th {
    padding: 25px;
    font-size: 1.5rem;
  }
  section #links th {
    padding: 20px 40px;
    font-size: 2rem;
  }
}
@media screen and (max-width: 1200px) {
  header h1 {
    font-size: 3em;
  }
  header p {
    font-size: 1em;
  }
  section #links td,
  section #links #customers th {
    padding: 20px;
    font-size: 1rem;
  }
  section #links th {
    padding: 20px 20px;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  section #links td,
  section #links #customers th {
    padding: 20px;
    font-size: 1rem;
  }
  section #links th {
    padding: 20px 20px;
    font-size: 1.2rem;
  }
  section #links .windows {
    display: none;
  }
  section #links .linux {
    display: none;
  }
}
@media screen and (max-width: 475px) {
  section #links td,
  section #links #customers th {
    padding: 20px 10px;
    font-size: 0.7rem;
  }
  section #links th {
    padding: 20px 10px;
    font-size: 1.1rem;
  }
  section #links .windows {
    display: none;
  }
  section #links .linux {
    display: none;
  }
}
