* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15%;
  background-color: #0f1126c0;
  backdrop-filter: blur(5px);
  position: fixed;
  z-index: 1000;
  width: 100vw;
}
nav #nav-logo {
  width: 50px;
  transition: all 1s;
}
nav #nav-logo:hover {
  transform: scale(1.05) rotate(360deg);
}
nav .nav-first {
  order: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav label,
nav input {
  display: none;
}
nav .navigations {
  order: 2;
  list-style: none;
}
nav .navigations .navigation-item {
  display: inline-block;
}
nav .navigations .navigation-item a {
  display: inline-block;
  padding: 30px 20px;
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
  color: #d8d8d8;
  transform: translate(0px);
  font-size: 1rem;
  transition: all 0.3s;
}
nav .navigations .navigation-item:not(:last-child) {
  margin-right: 20px;
}
nav .navigations .navigation-item:hover a {
  transform: translate(0px, -2px) scale(1.04);
  color: #ffffff;
  text-shadow: 0px 0px 2px #d8d8d8;
}
nav .navigations .active a {
  color: #ffffff !important;
}
nav .download-button {
  order: 3;
  padding: 15px 25px;
  background-color: #5258fb;
  border-radius: 20px;
  color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
  text-decoration: none;
  transition: all 0.3s;
}
nav .download-button:hover {
  background-color: #ffffff;
  color: #5258fb;
}
@media screen and (min-width: 2000px) {
  nav .navigations .navigation-item a {
    font-size: 1.5rem;
  }
  nav .download-button {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1440px) {
  nav {
    padding: 0px 5%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  nav {
    top: 0px;
    left: 0px;
    padding: 0px 2%;
  }
  nav .navigations .navigation-item a {
    font-size: 0.8rem;
  }
  nav .download-button {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  nav {
    bottom: 0px;
    left: 0px;
    flex-direction: column;
    align-items: stretch;
    padding: 10px 3% 10px 3%;
    background-color: #0f1126;
  }
  nav .nav-first {
    order: 3;
    width: 100%;
  }
  nav .nav-first label {
    display: inline-block;
    font-size: 2rem;
    color: #5258fb;
  }
  nav .navigations .navigation-item a {
    font-size: 1.2rem;
  }
  nav .navigations .navigation-item:last-child {
    margin-bottom: 20px;
  }
  nav .download-button {
    font-size: 1.2rem;
  }
  nav .navigations .navigation-item {
    display: block;
  }
  nav .navigations .navigation-item a {
    display: block;
    padding: 30px 10px;
  }
  nav .download-button {
    order: 1;
    border-radius: 4px;
    margin-top: 20px;
  }
  nav .navigations,
  nav .download-button {
    display: none;
  }
  nav #menu-checkbox:checked ~ ul,
  nav #menu-checkbox:checked ~ a {
    display: block;
  }
}
